<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guaigou.cd.minutestohome">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".BaseApplication"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".SplashActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/Theme.Start"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.addressmgr.AddressActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.addressmgr.NewAddressActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.addressmgr.EditAddressActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.region.RegionActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.myorders.OrderActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.login.LoginActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.register.RegisterActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.setpwd.SetPwdActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.findpwd.FindPwdActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.resetpwd.ReSetPwdActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.confirmorder.ConfirmOrderActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.note.NoteActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.buyorder.BuyOrderActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.pay.PayActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.feedback.FeedbackActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.search.SearchActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateVisible"
            />

        <activity android:name=".activity.productdetails.ProductDetailsActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />

        <activity android:name=".activity.mine.UserInfoActivity" android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|orientation|uiMode|screenLayout"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
    </application>

</manifest>